body { 
	margin:0;
	padding:0;
	background-image:#eeeeee;
	font-family:Helvetica;
	line-height:#;

	}

	.container{
		width:960px;
		margin:0 auto;
		background-color:#cccccc;
	}



	h1{
		color:#ffffff;
		background-color: #4aaaa5;
		padding-top:20px;
		padding-bottom:20px;
		margin-right:80%;
		margin-top:0px;
		float:left;
	}



	#main-bio,
	#info,
	#bio-image{
		float:left;
	}
	#main-bio{
	width:70%;
	}


	#info{
		width:30%;
}


		



	


	










